

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #fD6E0A;
}
nav ul{
    display: flex;
}
nav ul li{
    text-decoration: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    background-color: #474747;
}